@{
    ViewData["Title"] = "Order Registration";   
}
<h2>Item</h2>
<table class="table-codensed">
    <tr>
        <td>Name</td>
        <td>Quality</td>
        <td>Effects</td>
        <td>Price</td>
        <td></td>
    </tr>
    <tr>
        <td>@ViewBag.Name</td>
        <td>@ViewBag.Quality</td>
        <td>@ViewBag.Effects</td>
        <td>@ViewBag.Price</td>
    </tr>
</table>
<h2>Order Form</h2>
<form method="post" class="form-horizontal" role="form">
    <input type="hidden" value="@ViewBag.ItemId" name="ItemId" />
    <p>To complete your purchase, please fill in the following fields:</p>
    <div class="form-group">
        <label for="User" class="col-md-2 control-label">Name:</label>
        <div class="col-md-4">
            <input type="text" name="User" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label for="Address" class="col-md-2 control-label">Address:</label>
        <div class="col-md-4">
            <input type="text" name="Address" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Buy" />
        </div>
    </div>
</form>