@using SummonersRiftShop.Models
@using SummonersRiftShop.Views.Home
@model IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}
<style>
    .glyphicon {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale
    }

    .glyphicon-chevron-right:before {
        content: "\f054";
    }

    .glyphicon-chevron-left:before {
        content: "\f053";
    }
</style>

<h1>Items</h1>
<!--
<form method="get">
    <input type="submit" name="categoryName" value="All items" />
    @foreach (var category in ViewBag.Categories)
    {
        <input type="submit" name="categoryName" value="@category.Name"/>
    }
</form>
 -->
<!--
<button onclick="">All items</button>
@foreach (var category in ViewBag.Categories)
{
    <button onclick="">@category.Name</button>
}
-->

<a asp-action="Index"
   asp-route-category="All items"
   class="btn  btn-outline-light">
    All items
</a>
@foreach (var category in ViewBag.Categories)
{
    <a asp-action="Index"
       asp-route-category="@category.Name"
       class="btn  btn-outline-light">
        @category.Name
    </a>
}

<form method="get">
    <div class="form-inline" style="text-align: right">
        <input name="name" value="@Model.FilterViewModel.SelectedName" class="form-control" />
        <input type="submit" value="Search" class="btn  btn-outline-light" />
    </div>
</form>

<table style="width: 100%">
    <thead>
        <tr>
            <th style="width: 10%">
                Icon<br />
                <a asp-action="Index"
                   asp-route-sortOrder="@Model.SortViewModel.IdSort"
                   asp-route-name="@(Model.FilterViewModel.SelectedName)"
                   asp-route-category="@(Model.FilterViewModel.SelectedCategory)"
                   style="color:lightgray">
                    (Default order)
                </a>
            </th>
            <th style="width: 10%">
                <a asp-action="Index"
                   asp-route-sortOrder="@Model.SortViewModel.NameSort"
                   asp-route-name="@(Model.FilterViewModel.SelectedName)"
                   asp-route-category="@(Model.FilterViewModel.SelectedCategory)"
                   style="color:lightgray">
                    Name
                </a>
            </th>
            <th style="width: 10%">
                Category
            </th>
            <th style="width: 60%">
                Effects & Recipe
            </th>
            <th style="width: 10%">
                <a asp-action="Index"
                   asp-route-sortOrder="@Model.SortViewModel.PriceSort"
                   asp-route-name="@(Model.FilterViewModel.SelectedName)"
                   asp-route-category="@(Model.FilterViewModel.SelectedCategory)"
                   style="color:lightgray">
                    Price
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (Item item in Model.Items)
        {
            <tr>
                <td>
                    <img class="itemIcon" src="@ShopHtmlHelper.GetURL(item.Name)" alt="@item.Name" />
                </td>
                <td>@item.Name</td>
                <td>@item.Quality</td>
                <td>
                    @ShopHtmlHelper.GetEffects(item.Effects)
                    <br />
                    <details style="text-align: left">
                        <summary>Recipe</summary>
                        <a asp-action="GetRecipe"
                           asp-route-item="@item.Id">
                        </a>
                    </details>
                </td>
                <td>
                    <a class="itemPrice" href="~/Home/Buy/@item.Id">
                        @item.Price
                        <img src="~/Images/Website/Gold.png" alt="Gold">
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (Model.PageViewModel.HasPreviousPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
       asp-route-name="@(Model.FilterViewModel.SelectedName)"
       asp-route-category="@(Model.FilterViewModel.SelectedCategory)"
       asp-route-sortorder="@(Model.SortViewModel.Current)"
       class="btn  btn-outline-light">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Назад
    </a>
}
@if (Model.PageViewModel.HasNextPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
       asp-route-name="@(Model.FilterViewModel.SelectedName)"
       asp-route-category="@(Model.FilterViewModel.SelectedCategory)"
       asp-route-sortorder="@(Model.SortViewModel.Current)"
       class="btn btn-outline-light">
        Вперед
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
}
